<%= tag.turbo_frame(id: "games") do %>
  <% if @recommended_games.present? %>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-5 gap-y-10 mt-10">
      <% @recommended_games.each do |game| %>
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <%= image_tag game[:header_image], class: "object-cover" %>
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2"><%= game[:name] %></div>
            <p class="text-gray-700 text-base">
              <%= game[:short_description].html_safe %>
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
          <% if game[:genres].present? %>
            <% game[:genres].each do |genre| %>
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= genre[:description] %></span>
            <% end %>
            <%end%>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    Não encontramos nenhum jogo relacionado. ☹️
  <% end %>
<% end %>
