<%= tag.turbo_frame(id: "games") do %>
  <% if @recommended_games.present? %>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-5 gap-y-10 mt-10">
      <% @recommended_games.each do |game| %>
        <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col justify-between transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-100">
          <div>
            <%= image_tag game[:header_image], class: "object-cover" %>

            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">
                <%= game[:name] %>
              </div>
              <p class="text-gray-700 text-base">
                <%= game[:short_description].html_safe %>
              </p>
            </div>

            <div class="px-6 pt-4 pb-2">
              <% if game[:genres].present? %>
                <% game[:genres].each do |genre| %>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                    <%= genre[:description] %>
                  </span>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="p-5 flex justify-between items-end">
            <div class="flex">
              <% if game[:metacritic].present? %>
                <%= tag.a(
                  href: game[:metacritic][:url],
                  class: "text-2xl font-semibold",
                  target: "_blank"
                ) do %>
                  <%= tag.div(
                    class: class_names(
                      "w-[50px] h-[50px] rounded-md text-white flex justify-center items-center hover:underline mr-1",
                      "bg-green-500": game[:metacritic][:score] >= 70,
                      "bg-yellow-400": game[:metacritic][:score] >= 50 && game[:metacritic][:score] < 70,
                      "bg-red-500": game[:metacritic][:score] < 50
                    )
                  ) do %>
                    <%= game[:metacritic][:score] %>
                  <% end %>
                <% end %>

                <div>
                  <%= inline_svg_tag "metacritic-icon.svg", class: 'w-[50px] h-[50px]' %>
                </div>
              <% end %>
            </div>

            <div>
              <%= tag.a(
                href: "https://store.steampowered.com/app/#{game[:steam_appid]}",
                class: "flex text-white font-bold py-2 px-4 rounded-lg hover:underline items-center",
                style: "background-color: black;",
                target: "_blank"
                ) do %>
                <%= inline_svg_tag "steam.svg", class: 'w-[20px] h-[20px] mr-2' %>
                <p class="mr-2">Steam</p>
                <%= inline_svg_tag "external_link.svg", class: 'w-[16px] h-[16px]' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    Não encontramos nenhum jogo relacionado. ☹️
  <% end %>
<% end %>
