<%= tag.div(data: { controller: "home" }) do %>
  <div class="flex justify-center">
    <div>
      <h1 class="text-center text-black font-bold text-xl md:text-2xl">Informe uma mídia audiovisual que você gosta</h1>
      <h3 class="text-center text-black font-regular text-md md:text-xl">Digite o nome do filme, série, desenho animado ou anime que você mais curte assistir!</h3>

      <%= tag.form(
        action: search_index_path,
        method: :get,
        data: { turbo_frame: "games" },
        class: "flex mt-[30px]"
      ) do %>
        <div>
          <%= tag.input(
            type: "text",
            name: "media",
            data: {
              home_target: "media",
            },
            class: "min-h-12 md:w-[36rem] appearance-none border-1 border-gray-400 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500 mr-2"
          ) %>
        </div>


        <%= select_tag(
          :media_type,
          options_for_select([
            ['Filme', 'movie'],
            ['Série', 'serie'],
            ['Jogo', 'game'],
            ['Desenho', 'cartoon'],
            ['Anime', 'anime']
          ]),
          class: "h-12 appearance-none border-1 border-gray-400 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500 mr-2",
        )%>

        <%= tag.button(
          "Search",
          type: "submit",
          class: "h-12 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        ) %>
      <% end %>

      <h3 class="text-black font-regular text-sm mt-2">
        Utilize <kbd class="py-1 px-2 rounded w-24 bg-gradient-to-tl from-gray-200 to-gray-300-opacity-60 border-gray-300 border-b-2 shadow-darker text-gray-600">;</kbd> para separar os nomes de mídias.
      </h3>
    </div>
  </div>

  <div class="mt-5">
    <%= tag.turbo_frame(id: "games", data: { home_target: "games" }) %>

    <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-5 gap-y-10 mt-8">
      <%= render partial: "skeleton", collection: 1..4 %>
    </div>
  </div>
<% end %>
